.container {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../photos/photo.svg");
    background-size: cover;
    background-repeat: repeat;
}
.innerContainer {
    width: 100vw;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 14px;
}
.row{
    display: flex;
    max-width: 700px;
    gap: 40px;
    margin-top: 24px;
}
.button {
    height: 48px;
    background-color: #0bbef2;
    color: white;
    border: none;
}
p.title {
    font-size: 64px;
    font-weight: bold;
    line-height: 72px;
}
p.description {
    font-size: 28px;
    max-width: 500px;
    line-height: 34px;
    font-weight: 400;
}
input { 
    padding-left: 10px;
    height: 48px;
    width: 400px;
    border: 1px solid black;
    box-sizing: border-box;
} 